@use '../../../../../styles/variables' as *;

.header {
    background: #fff !important;
    display: flex;
    justify-content: space-between;
    height: 8vh;

    .col_left { position: relative; width: 25%; }
    .col_middle { width: 50%; }
    .col_right { position: relative; width: 25%; }

    .icon, .icon_ouca {
        color: $cor-primaria;
    }
}

.container_redes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:65em) {
    .header {
        flex-direction: column;

        .col_left { width: 100%; }
        .col_middle { width: 100%; }
        .col_right { display: none; }

        .icon_ouca {
            position: fixed;
            bottom: 8vh;
            left: 1rem;
            background-color: $cor-primaria;
            color: #fff;
            padding: .5rem;
            border-radius: 100%;
        }
    }
    .container_redes {
        background-color: $cor-primaria;
        flex-direction: column;
        gap: .7rem;
        position: absolute;
        top: 40vh;
        right: 0;
        border-radius: 8px 0 8px 0;
        z-index: 999;

        .icon {
            color: #fff;
        }
    }
}