@use '../../../../../styles/variables' as *;

.header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: #fff !important;
    height: 8vh;
    z-index: 9999;

    .col_left { width: 25%; }
    .col_middle { 
        width: 50%; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .col_right { width: 25%; }

    .icon, .icon_ouca {
        color: $cor-primaria;
    }
}

.container_redes {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

@media (max-width:65em) {
    .header {
        flex-direction: column;

        .col_left { width: 100%; }
        .col_middle { width: 100%; }
        .col_right { display: none; }
    }
    .container_redes {
        background-color: $cor-primaria;
        flex-direction: column;
        padding: 15px 10px;
        gap: .7rem;
        position: absolute;
        top: 30vh;
        right: 0;
        border-radius: 8px 0 8px 0;
        z-index: 999;

        .icon {
            color: #fff;
            font-size: 1.1rem;
        }
    }
}