.container {
  padding: 3rem 1.5rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 12px;
  }

  .gridCameras {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 65em) {
  .container {
    padding: 1.5rem .5rem 5rem;
    gap: 1rem;

    .header {
      margin-bottom: 0;
      
      h2 { 
        font-size: 1.5rem; 
        text-align: center; 
    }

    }

    .gridCameras {
      grid-template-columns: 1fr;
    }
  }
}