.container {
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    .headerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;

        .status {
            font-weight: 400;
            margin-top: -1rem;
            margin-bottom: 2rem;

            span { margin-left: 5px; }
            .active {
                font-weight: 800;
                color: #2e7d32;
            }
            
            .inactive {
                font-weight: 800;
                color: #c62828;
            }
        }
    }
    .videoContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .video {
          width: 80%;
          height: 50vh;
          border-radius: 0.75rem;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          outline: none;
        }
    }
    .footerContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

.loader {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.alert {
  margin: 2rem;
}

@media (max-width: 65em) {
    .container {
        .videoContainer { 
            width: 95%; 

            .video {
                height: auto;
            }
        }
        .footerContainer { flex-direction: column;}
    }
}